# PHY0, U3

LOCATE COMP "mdio_scl" SITE "N5";
LOCATE COMP "mdio_sda" SITE "P5";

LOCATE COMP "rgmii_tx_clk" SITE "G1";
LOCATE COMP "rgmii_txd[0]" SITE "G2";
LOCATE COMP "rgmii_txd[1]" SITE "H1";
LOCATE COMP "rgmii_txd[2]" SITE "J1";
LOCATE COMP "rgmii_txd[3]" SITE "J3";
LOCATE COMP "rgmii_tx_ctl" SITE "K1";
LOCATE COMP "rgmii_rx_clk" SITE "H2";
LOCATE COMP "rgmii_rxd[0]" SITE "K2";
LOCATE COMP "rgmii_rxd[1]" SITE "L1";
LOCATE COMP "rgmii_rxd[2]" SITE "N1";
LOCATE COMP "rgmii_rxd[3]" SITE "P1";
LOCATE COMP "rgmii_rx_ctl" SITE "P2";
LOCATE COMP "phy_resetn"   SITE "P4";

IOBUF PORT "rgmii_tx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_txd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_tx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_clk"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rxd[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "rgmii_rx_ctl"  IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_scl"      IO_TYPE=LVCMOS33;
IOBUF PORT "mdio_sda"      OPENDRAIN=ON IO_TYPE=LVCMOS33;
IOBUF PORT "phy_resetn"    IO_TYPE=LVCMOS33;


# CLOCK

LOCATE COMP "osc25m" SITE "P3";
IOBUF PORT "osc25m" IO_TYPE=LVCMOS33;

# USER IO

LOCATE COMP "led" SITE "U16";
IOBUF PORT "led" OPENDRAIN=ON IO_TYPE=LVCMOS33;
LOCATE COMP "button" SITE "R16";
IOBUF PORT "button" IO_TYPE=LVCMOS33;

# PANEL

# 31 = 11111
# 30 = 11110
# 29 = 11101 => 23 = 10111


LOCATE COMP "A"      SITE "F1"; // CORRECT
LOCATE COMP "B"      SITE "F2";
LOCATE COMP "C"      SITE "E1";
LOCATE COMP "D"      SITE "E2";
LOCATE COMP "E"      SITE "J17";

LOCATE COMP "CLK"    SITE "C18";
LOCATE COMP "LAT"    SITE "J18";
LOCATE COMP "OE"     SITE "H16";

LOCATE COMP "R0[2]"  SITE "F19"; # J7
LOCATE COMP "G0[2]"  SITE "F20";
LOCATE COMP "B0[2]"  SITE "E20";
LOCATE COMP "R1[2]"  SITE "D20";
LOCATE COMP "G1[2]"  SITE "E19";
LOCATE COMP "B1[2]"  SITE "D19";

LOCATE COMP "R0[0]"  SITE "B20"; # J8
LOCATE COMP "G0[0]"  SITE "C20";
LOCATE COMP "B0[0]"  SITE "B19";
LOCATE COMP "R1[0]"  SITE "B18";
LOCATE COMP "G1[0]"  SITE "A19";
LOCATE COMP "B1[0]"  SITE "A18";

LOCATE COMP "R0[1]"  SITE "J20"; # J6
LOCATE COMP "G0[1]"  SITE "K19";
LOCATE COMP "B0[1]"  SITE "J19";
LOCATE COMP "R1[1]"  SITE "G20";
LOCATE COMP "G1[1]"  SITE "H20";
LOCATE COMP "B1[1]"  SITE "G19";

LOCATE COMP "R0[3]"  SITE "U17"; # J5
LOCATE COMP "G0[3]"  SITE "U18";
LOCATE COMP "B0[3]"  SITE "T17";
LOCATE COMP "R1[3]"  SITE "T18";
LOCATE COMP "G1[3]"  SITE "K20";
LOCATE COMP "B1[3]"  SITE "L20";

LOCATE COMP "R0[4]"  SITE "D2"; # J2
LOCATE COMP "G0[4]"  SITE "H3";
LOCATE COMP "B0[4]"  SITE "H4";
LOCATE COMP "R1[4]"  SITE "J4";
LOCATE COMP "G1[4]"  SITE "B4";
LOCATE COMP "B1[4]"  SITE "A3";

LOCATE COMP "R0[5]"  SITE "B3"; # J1
LOCATE COMP "G0[5]"  SITE "A2";
LOCATE COMP "B0[5]"  SITE "B2";
LOCATE COMP "R1[5]"  SITE "B1";
LOCATE COMP "G1[5]"  SITE "C2";
LOCATE COMP "B1[5]"  SITE "C1";
